{% load static %}
<!doctype html>
<html lang="ru">
<head>

    <meta charset="utf-8">
    
    <title>{% block title %}AskMark{% endblock %}</title>

    <link rel="stylesheet" href="{% static "assert/style/bootstrap.min.css"%}">
  	<link rel="stylesheet" href="{% static "assert/style/style.css"%}">


</head>

<body>
<header class="fixed-top navbar-expand-lg navbar-light bg-light">
<div class="row">
    <div class="col-3 main-label"><a class="" href="{% url 'blog:post_list' %}">AskMark</a></div>
    <div class="col-3 input-group mb-3">
      <input type="text" class="form-control" placeholder="Введите название вопроса">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button">Поиск</button>
      </div>
    </div>

    {% block auth %} 
    {% if user.is_authenticated %}
    <div class="col-6 button-auth">
      <a href="{% url 'logout' %}"><button type="button" class="btn btn-outline-success">Выйти</button></a>
      <a href="{% url 'blog:change' %}"><button type="button" class="btn btn-outline-success">Настройки</b></button></a>
      <a href="{% url 'blog:change' %}"><button type="button" class="btn btn-outline-success">Привет, <b>{{user.username}}</b></button></a>
      <a href="{% url 'blog:newpost_page' %}"><button type="button" class="btn btn-outline-success">Задать новый вопрос</button></a>

    </div>
{% else %}
    <div class="col-6 button-auth">
      <a href="{% url 'login' %}"><button type="button" class="btn btn-outline-success">Войти</button></a>
      <a href="{% url 'blog:createacc' %}"><button type="button" class="btn btn-outline-success">Зарегистрироваться</button></a>
    </div>
{% endif %}
    {% endblock %}

</div>
</header>

<div class="container content">
  
  <div class="row">
    <div class="col-8">
      {% block content %}{% endblock %}
    </div>


    <div class="col-4 bg-light main-sidebar">
      <h3>Популярные теги</h3>
      <ul class="list-group">
        <li class="list-group-item">Тег</li>
        <li class="list-group-item">Тег</li>
        <li class="list-group-item">Тег</li>
        <li class="list-group-item">Тег</li>
      </ul>
      <br>
      <h3>Лучшие пользователи</h3>
      <ul class="list-group">
        <li class="list-group-item">Пользователь</li>
        <li class="list-group-item">Пользователь</li>
        <li class="list-group-item">Пользователь</li>
        <li class="list-group-item">Пользователь</li>
      </ul>
    </div>

  </div>


{% block pagination %}
{% endblock %}


</div>
</body>

</html>