{% extends 'base.html' %}

{% block title %}{{question.question_title}}{% endblock %}

  {% block content %}

      <h2 class="label-new-questions">{{question.question_title}}</h2>
      <em>{{question.pub_date}}</em>
      <br>
      <span>Теги:</span>
      <span class="style-of-new-posts">{% for tag in question.tags.all %}
                        <a href="{% url 'blog:post_list_by_tag' tag.slug %}"> {{ tag.name }}</a> |
            {% endfor %}
      </span>
      <br>
      <br>

        <img class="prev-img" src="{{question.author_id.profile.img.url}}">

      <br>
      <br>
      <span>Автор:</span>
      <span><b>{{question.author_id}}</b></span>
      <br>
      <br>
      <p>{{question.article_text|linebreaksbr}}</p>
      
      

      <hr>
          
      <p>Ответов: <b>{{answers_list_count}}</b></p>

      {% if answers_list %}
        {% for c in answers_list %}
        <hr>
        <img class="prev-img-ans" src="{{c.author_id.profile.img.url}}">

            
            <span><strong>{{c.author_id}}: </strong></span>
            <span>{{c.answer_text}}</span>
          {% endfor %}
        {% else %}
          <p>Пока нет комментариев</p>
        {% endif %}
      <hr>

    <form action="{% url 'blog:leave_comment' question.id %}" method="POST">
      
      {% csrf_token %}

      <div class="row">
        <div class="col-2 label-form">
          <p>Ответ</p>
        </div>
        <div class="col-10 label-inputs">
          <textarea name="text" class="form-control"></textarea>
          <button type="submit" class="btn btn-outline-success">Ответить</button>
        </div>
      </div>
    </form>

      
  {% endblock %}







{% block pagination %}{% endblock %}