{% extends 'base.html' %}

{% block title %}Новый пост{% endblock %}

  {% block content %}
  

    {% if user.is_authenticated %}

      <h2 class="">Новый вопрос</h2>
      <br>
      <form action="{% url 'blog:post_new' %}" method="POST">

        {% csrf_token %}
        <div class="form-new-post">

              {{ form.as_p }}
              <button type="submit" class="btn btn-outline-success">Задать вопрос</button>

        </div>

      </form>

    {% else %}

      <p>Для создания вопроса нужно авторизироваться!</p>

    {% endif %}
{% endblock %}










{% block pagination %}{% endblock %}