{% extends 'base.html' %}

  {% block content %}
        {% if tag %}
            <h2 class="label-new-questions">Статьи с тегом "{{ tag.name }}"</h2>
        {% endif %}
            {% for post in posts %}
                <div class="post-preview">
                        <h2 class="post-title">
                            <a href="{% url 'post_detail' slug=post.slug %}">{{ post.question_title }}</a>
                        </h2>
                        <p>
                            {{ post.article_text }}
                        </p>
                    <p class="post-meta">Опубликовано {{ post.pub_date }}</p>
                    <p class="post-meta">
                        ТЕГИ:
                            {% for tag in post.tags.all %}
                            <a href="{% url 'post_list_by_tag' tag.slug %}"> {{ tag.name }}</a> |
                            {% endfor %}
                    </p>

                </div>
            {% endfor %}
{% endblock %}